---
import Layout from '../layouts/Layout.astro';
import ProfileForm from '../components/ProfileForm/ProfileForm.astro';
import ProfileBack from '../components/ProfileForm/ProfileBack.astro';

import { profileDataMock as profile } from '../mocks/sample.json';

const formItems = [
    {
        label: 'Старый пароль',
        name: 'old-password',
        labelClass: 'profile-form__label',
        placeholder: '•••••••••',
        type: 'password' as astroHTML.JSX.HTMLInputTypeAttribute,
        errorMessage: 'Некорректный пароль'
    },
    {
        label: 'Пароль',
        name: 'password',
        labelClass: 'profile-form__label',
        placeholder: '•••••••••••',
        type: 'password' as astroHTML.JSX.HTMLInputTypeAttribute,
        errorMessage: 'Некорректный пароль'
    },
    {
        label: 'Повторите новый пароль',
        placeholder: '•••••••••••',
        labelClass: 'profile-form__label',
        type: 'password' as astroHTML.JSX.HTMLInputTypeAttribute,
        errorMessage: 'Пароли не совпадают'
    },
];

const formButtons = [
    {
        href: '/profile',
        label: 'Сохранить',
        className: 'button'
    }
];

---

<Layout title="Чат | Изменение пароля">
    <main class="profile-page">
        <ProfileBack />
        <ProfileForm profile={profile} formItems={formItems} formButtons={formButtons} showTitle={false} />
    </main>
</Layout>
